Repository defi-wonderland/connext-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carlomazzaferro, @preethamr, @liu-zhipeng, @wanglonghong, @just-a-node, @prathmeshkhandelwal1, @LayneHaber

chore: add assume root is not empty
  packages/deployments/contracts/contracts_forge/messaging/connectors/taiko/unit/TaikoSpokeConnector.t.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: add periphery draft first contracts
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/BaseConnext.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/ConnextStorage.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/IConnext.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/LibConnextStorage.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/ProtocolManager.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/Rolesmanager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: marked abstract contracts
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/BaseConnext.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/ConnextStorage.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/ProtocolManager.sol
  packages/deployments/contracts/contracts/core/chimera-upgrade/periphery-draft/Rolesmanager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: chimera upgrade PoC
  packages/deployments/contracts/contracts_chimera/core/connext/facets/BaseConnextFacet.sol
  packages/deployments/contracts/contracts_chimera/core/connext/facets/BridgeFacet.sol
  packages/deployments/contracts/contracts_chimera/core/connext/facets/InboxFacet.sol
  packages/deployments/contracts/contracts_chimera/core/connext/libraries/AssetLogic.sol
  packages/deployments/contracts/contracts_chimera/core/connext/libraries/Constants.sol
  packages/deployments/contracts/contracts_chimera/core/connext/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts_chimera/core/connext/libraries/TokenId.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: add periphery draft
  packages/deployments/contracts/contracts/contracts_chimera/core/Connext.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/BridgeToken.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/ConnextPriceOracle.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/ConnextProxyAdmin.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/LPToken.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/OZERC20.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/OwnerPausableUpgradeable.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/PriceOracle.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/RelayerProxy.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/RelayerProxyHub.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IBridgeToken.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IConnext.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IERC165.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IPriceOracle.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IStableSwap.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IXReceiver.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/libraries/BridgeMessage.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/libraries/ChainIDs.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/libraries/Constants.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/libraries/MathUtils.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/libraries/TokenId.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/managers/BaseConnext.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/managers/ConnextStorage.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/managers/ProtocolManager.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/managers/RolesManager.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/managers/RoutersManager.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/xreceivers/Unwrapper.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

refactor: renaming and reorg
  packages/deployments/contracts/contracts/chimera/Connext.sol
  packages/deployments/contracts/contracts/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/helpers/BridgeToken.sol
  packages/deployments/contracts/contracts/chimera/helpers/ConnextProxyAdmin.sol
  packages/deployments/contracts/contracts/chimera/helpers/RelayerProxy.sol
  packages/deployments/contracts/contracts/chimera/helpers/RelayerProxyHub.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IBridgeToken.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IConnext.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IERC165.sol
  packages/deployments/contracts/contracts/chimera/libraries/BridgeMessage.sol
  packages/deployments/contracts/contracts/chimera/libraries/ChainIDs.sol
  packages/deployments/contracts/contracts/chimera/libraries/Constants.sol
  packages/deployments/contracts/contracts/chimera/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/libraries/MathUtils.sol
  packages/deployments/contracts/contracts/chimera/libraries/TokenId.sol
  packages/deployments/contracts/contracts/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/BaseManager.sol
  packages/deployments/contracts/contracts/chimera/managers/ProtocolManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RolesManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RoutersManager.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/ConnextPriceOracle.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/LPToken.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/OZERC20.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/OwnerPausableUpgradeable.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/helpers/PriceOracle.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IPriceOracle.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IStableSwap.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/interfaces/IXReceiver.sol
  packages/deployments/contracts/contracts/contracts_chimera/core/xreceivers/Unwrapper.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: messaging layer integration
  packages/deployments/contracts/contracts_chimera/core/connext/facets/BridgeFacet.sol
  packages/deployments/contracts/contracts_chimera/core/connext/facets/InboxFacet.sol
  packages/deployments/contracts/contracts_chimera/core/connext/interfaces/IXReceiver.sol
  packages/deployments/contracts/contracts_chimera/core/connext/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts_chimera/messaging/connectors/SpokeConnector.sol
  packages/deployments/contracts/contracts_chimera/messaging/interfaces/IMessageRecipient.sol
  packages/deployments/contracts/contracts_chimera/messaging/interfaces/IOutbox.sol
  packages/deployments/contracts/contracts_chimera/messaging/libraries/Message.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: add linter
  packages/deployments/contracts/.solhint-w.json
  packages/deployments/contracts/.solhint.tests.json
  packages/deployments/contracts/contracts/solidity/chimera/Connext.sol
  packages/deployments/contracts/contracts/solidity/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/BridgeToken.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/ConnextProxyAdmin.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/OZERC20.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/RelayerProxy.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/RelayerProxyHub.sol
  packages/deployments/contracts/contracts/solidity/chimera/interfaces/IBridgeToken.sol
  packages/deployments/contracts/contracts/solidity/chimera/interfaces/IConnext.sol
  packages/deployments/contracts/contracts/solidity/chimera/libraries/BridgeMessage.sol
  packages/deployments/contracts/contracts/solidity/chimera/libraries/ChainIDs.sol
  packages/deployments/contracts/contracts/solidity/chimera/libraries/Constants.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/BaseManager.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/ProtocolManager.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/RolesManager.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/RoutersManager.sol
  packages/deployments/contracts/foundry.toml
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: fixed linter errors
  packages/deployments/contracts/contracts/solidity/chimera/Connext.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/OZERC20.sol
  packages/deployments/contracts/contracts/solidity/chimera/helpers/RelayerProxyHub.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/RoutersManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: linter errors
  packages/deployments/contracts/contracts/solidity/chimera/managers/RoutersManager.sol
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/Connext__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/helpers/BridgeToken__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/helpers/OZERC20.sol/ERC20__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/helpers/RelayerProxyHub.sol/RelayerProxyHub__factory.ts
  yarn.lock
Owners: @LayneHaber, @liu-zhipeng, @preethamr

refactor: add CreditsManager
  packages/deployments/contracts/abi/contracts/solidity/chimera/Connext.sol/Connext.json
  packages/deployments/contracts/abi/contracts/solidity/chimera/managers/CreditsManager.sol/CreditsManager.json
  packages/deployments/contracts/contracts/solidity/chimera/Connext.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/CreditsManager.sol
  packages/deployments/contracts/contracts/solidity/chimera/managers/RoutersManager.sol
  packages/deployments/contracts/src/typechain-types/contracts/solidity/chimera/Connext.ts
  packages/deployments/contracts/src/typechain-types/contracts/solidity/chimera/managers/CreditsManager.ts
  packages/deployments/contracts/src/typechain-types/contracts/solidity/chimera/managers/index.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/Connext__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/managers/CreditsManager__factory.ts
  packages/deployments/contracts/src/typechain-types/factories/contracts/solidity/chimera/managers/index.ts
  packages/deployments/contracts/src/typechain-types/index.ts
Owners: @LayneHaber, @liu-zhipeng, @preethamr

refactor: add lint:fix command
  packages/deployments/contracts/artifacts/abi/contracts/solidity/chimera/Connext.sol/Connext.json
  packages/deployments/contracts/artifacts/typechain-types/contracts/solidity/chimera/Connext.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/solidity/chimera/Connext__factory.ts
  packages/deployments/contracts/contracts/solidity/chimera/Connext.sol
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

refactor: set up foundry tests
  packages/deployments/contracts/contracts/solidity/test/Connext.t.sol
  packages/deployments/contracts/contracts/solidity/test/core/connext/facets/upgrade-initializers/DiamondInit.t.sol
  packages/deployments/contracts/contracts/solidity/test/core/xreceivers/Unwrapper.t.sol
  packages/deployments/contracts/contracts/solidity/test/fork/constants/WormholeUpgradeTransfers.sol
  packages/deployments/contracts/contracts/solidity/test/messaging/connectors/SpokeConnector.t.sol
  packages/deployments/contracts/contracts/solidity/test/messaging/libraries/Queue.t.sol
  packages/deployments/contracts/contracts/solidity/test/messaging/libraries/SnapshotId.t.sol
  packages/deployments/contracts/foundry.toml
Owners: @LayneHaber, @liu-zhipeng, @preethamr

refactor: moved hardhat tests
  packages/deployments/contracts/hardhat/test/connext.spec.ts
  packages/deployments/contracts/hardhat/test/connextPriceOracle.spec.ts
  packages/deployments/contracts/hardhat/test/multicall.spec.ts
  packages/deployments/contracts/hardhat/test/proposedOwnable.spec.ts
  packages/deployments/contracts/hardhat/test/stableswap.spec.ts
  packages/deployments/contracts/hardhat/test/utils.ts
  packages/deployments/contracts/tsconfig.build.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

refactor: renamed references
  packages/adapters/txservice/src/shared/contracts.ts
Owners: @preethamr, @liu-zhipeng, @wanglonghong

refactor: renamed Connext
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextCore.sol/ConnextCore.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/interfaces/IConnextCore.sol/IConnextCore.json
  packages/deployments/contracts/contracts/chimera/ConnextCore.sol
  packages/deployments/contracts/contracts/chimera/helpers/RelayerProxy.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IConnextCore.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: build
  packages/adapters/txservice/src/shared/contracts.ts
  packages/adapters/txservice/test/shared/contracts.spec.ts
  packages/adapters/watcher/src/mockable.ts
  packages/adapters/watcher/src/pause/pauser.ts
  packages/adapters/watcher/test/pause/pauser.spec.ts
  packages/adapters/watcher/test/verifiers/asset.spec.ts
  packages/agents/lighthouse/src/mockable.ts
  packages/agents/sdk/src/sdkShared.ts
  packages/agents/sdk/test/mock.ts
  packages/agents/sequencer/test/mock.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextCore.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/index.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/interfaces/IConnextCore.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/interfaces/index.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextCore__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/helpers/RelayerProxy.sol/RelayerProxy__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/helpers/RelayerProxyHub.sol/RelayerProxyHub__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/index.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/interfaces/IConnextCore__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/interfaces/index.ts
  packages/deployments/contracts/artifacts/typechain-types/index.ts
  packages/deployments/contracts/hardhat.config.ts
  packages/deployments/contracts/package.json
  packages/integration/test/helpers/local/addLiquidity.ts
  packages/integration/test/helpers/local/addRelayer.ts
  packages/integration/test/helpers/local/addSequencer.ts
  packages/integration/test/helpers/local/messages.ts
  packages/integration/test/helpers/local/onchainSetup.ts
  packages/integration/test/helpers/local/sendXCall.ts
  packages/integration/test/helpers/local/setupAsset.ts
  packages/integration/test/helpers/local/setupRouter.ts
Owners: @preethamr, @liu-zhipeng, @wanglonghong, @just-a-node, @prathmeshkhandelwal1, @LayneHaber

fix: removed unused files
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/Connext__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/interfaces/IConnext__factory.ts
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: updated test commands
  packages/deployments/contracts/.gitignore
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: updated yarn test command
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

Revert "Merge branch 'connext:chimera' into chimera"
  packages/deployments/contracts/contracts/intent/Connext.sol
  packages/deployments/contracts/contracts/intent/interfaces/IConnext.sol
  packages/deployments/contracts/contracts/intent/interfaces/ISettlementStrategy.sol
  packages/deployments/contracts/contracts/intent/interfaces/IXReceiver.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/BaseConnextFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/BaseSettlementStrategyFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/BridgeFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/InboxFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/ProposedOwnableFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/RelayerFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/RoutersFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/facets/TokenFacet.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/BridgeToken.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/ConnextPriceOracle.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/ConnextProxyAdmin.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/OZERC20.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/OwnerPausableUpgradeable.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/PriceOracle.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/RelayerProxy.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/helpers/RelayerProxyHub.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/interfaces/IBridgeToken.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/interfaces/IERC165.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/interfaces/IPriceOracle.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/libraries/AssetLogic.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/libraries/BridgeMessage.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/libraries/Constants.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/libraries/MathUtils.sol
  packages/deployments/contracts/contracts/intent/legacy/connext/libraries/TokenId.sol
  packages/deployments/contracts/contracts/intent/legacy/xreceivers/Unwrapper.sol
  packages/deployments/contracts/contracts/intent/libraries/LibStorage.sol
  packages/deployments/contracts/contracts/intent/strategies/xERC20strategy.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: addressed pr comments
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: add IBaseConnext interface
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
  packages/deployments/contracts/contracts/chimera/libraries/BridgeMessage.sol
  packages/deployments/contracts/contracts/chimera/libraries/LibConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/libraries/TokenId.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

docs: normalize NatSpec
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: remove outdated params
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

docs: update license
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: addressed pr comments
  packages/adapters/txservice/src/shared/contracts.ts
  packages/adapters/txservice/test/shared/contracts.spec.ts
  packages/adapters/watcher/src/mockable.ts
  packages/adapters/watcher/src/pause/pauser.ts
  packages/adapters/watcher/test/pause/pauser.spec.ts
  packages/adapters/watcher/test/verifiers/asset.spec.ts
  packages/agents/lighthouse/src/mockable.ts
  packages/agents/sdk/src/sdkShared.ts
  packages/agents/sdk/test/mock.ts
  packages/agents/sequencer/test/mock.ts
  packages/deployments/contracts/package.json
  packages/integration/test/helpers/local/addLiquidity.ts
  packages/integration/test/helpers/local/addRelayer.ts
  packages/integration/test/helpers/local/addSequencer.ts
  packages/integration/test/helpers/local/messages.ts
  packages/integration/test/helpers/local/onchainSetup.ts
  packages/integration/test/helpers/local/sendXCall.ts
  packages/integration/test/helpers/local/setupAsset.ts
  packages/integration/test/helpers/local/setupRouter.ts
Owners: @preethamr, @liu-zhipeng, @wanglonghong, @just-a-node, @prathmeshkhandelwal1, @LayneHaber

refactor: connext storage data
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextCore.sol/ConnextCore.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextStorage.sol/ConnextStorage.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/libraries/Constants.sol/Constants.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/AssetsManager.sol/AssetsManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/CreditsManager.sol/CreditsManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/ProtocolManager.sol/ProtocolManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/RolesManager.sol/RolesManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/RoutersManager.sol/RoutersManager.json
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextCore.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextStorage.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/index.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/libraries/Constants.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/AssetsManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/BaseManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/CreditsManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/RolesManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/RoutersManager.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextCore__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextStorage__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/index.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/libraries/Constants__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/AssetsManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/BaseManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/CreditsManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/RolesManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/RoutersManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/index.ts
  packages/deployments/contracts/contracts/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/libraries/Constants.sol
  packages/deployments/contracts/contracts/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/BaseManager.sol
  packages/deployments/contracts/contracts/chimera/managers/ProtocolManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RolesManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RoutersManager.sol
  packages/deployments/contracts/contracts/test/solidity/utils/Connext.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: revert Connext test util isInitialized() function removal
  packages/deployments/contracts/contracts/test/solidity/utils/Connext.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: update directories and format code
  .vscode/settings.json
  packages/deployments/contracts/.gitignore
  packages/deployments/contracts/.prettierignore
  packages/deployments/contracts/contracts/chimera/libraries/BridgeMessage.sol
  packages/deployments/contracts/foundry.toml
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: compile Chimera contracts
  packages/deployments/contracts/contracts/chimera/BaseConnext.sol
  packages/deployments/contracts/contracts/chimera/ConnextCore.sol
  packages/deployments/contracts/contracts/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/helpers/RelayerProxy.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IConnextCore.sol
  packages/deployments/contracts/contracts/chimera/libraries/BridgeMessage.sol
  packages/deployments/contracts/contracts/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/BaseManager.sol
  packages/deployments/contracts/contracts/chimera/managers/CreditsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/ProtocolManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RolesManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RoutersManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: remove outdated params
  packages/deployments/contracts/contracts/chimera/ConnextCore.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IConnextCore.sol
  packages/deployments/contracts/contracts/chimera/libraries/Constants.sol
  packages/deployments/contracts/contracts/chimera/managers/CreditsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RoutersManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: config code formatting and update old directories
  .vscode/settings.json
  packages/deployments/contracts/.gitignore
  packages/deployments/contracts/.prettierignore
  packages/deployments/contracts/foundry.toml
  packages/deployments/contracts/package.json
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: addressed pr comments
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextCore.sol/ConnextCore.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextStorage.sol/ConnextStorage.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/AssetsManager.sol/AssetsManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/BaseManager.sol/BaseManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/CreditsManager.sol/CreditsManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/ProtocolManager.sol/ProtocolManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/RolesManager.sol/RolesManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/RoutersManager.sol/RoutersManager.json
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextCore.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextStorage.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/AssetsManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/BaseManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/CreditsManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/ProtocolManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/RolesManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/RoutersManager.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextCore__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextStorage__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/AssetsManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/BaseManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/CreditsManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/ProtocolManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/RolesManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/RoutersManager__factory.ts
  packages/deployments/contracts/contracts/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RolesManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RoutersManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

chore: revert artifacts
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextCore.sol/ConnextCore.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/AssetsManager.sol/AssetsManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/BaseManager.sol/BaseManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/CreditsManager.sol/CreditsManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/ProtocolManager.sol/ProtocolManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/RolesManager.sol/RolesManager.json
  packages/deployments/contracts/artifacts/abi/contracts/chimera/managers/RoutersManager.sol/RoutersManager.json
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextCore.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/index.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/AssetsManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/BaseManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/CreditsManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/ProtocolManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/RolesManager.ts
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/managers/RoutersManager.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextCore__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/helpers/BridgeToken__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/helpers/OZERC20.sol/ERC20__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/index.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/AssetsManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/BaseManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/CreditsManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/ProtocolManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/RolesManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/managers/RoutersManager__factory.ts
  packages/deployments/contracts/artifacts/typechain-types/index.ts
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: remove artifacts change
  packages/deployments/contracts/artifacts/abi/contracts/chimera/ConnextStorage.sol/ConnextStorage.json
  packages/deployments/contracts/artifacts/typechain-types/contracts/chimera/ConnextStorage.ts
  packages/deployments/contracts/artifacts/typechain-types/factories/contracts/chimera/ConnextStorage__factory.ts
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: temporary disable artifacts git tracking
  packages/deployments/contracts/.gitignore
Owners: @LayneHaber, @liu-zhipeng, @preethamr

chore: document connext storage state vars
  packages/deployments/contracts/contracts/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/managers/BaseManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

feat: remove outdated params
  packages/deployments/contracts/contracts/chimera/ConnextCore.sol
  packages/deployments/contracts/contracts/chimera/ConnextStorage.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IConnextCore.sol
  packages/deployments/contracts/contracts/chimera/managers/AssetsManager.sol
  packages/deployments/contracts/contracts/chimera/managers/BaseManager.sol
  packages/deployments/contracts/contracts/chimera/managers/RoutersManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

fix: backward compatibility
  packages/deployments/contracts/contracts/chimera/ConnextCore.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IBaseConnext.sol
  packages/deployments/contracts/contracts/chimera/interfaces/IConnextCore.sol
  packages/deployments/contracts/contracts/chimera/managers/BaseManager.sol
Owners: @LayneHaber, @liu-zhipeng, @preethamr

.github/CODEOWNERS:

# global owner
@preethamr
/ops/ @carlomazzaferro @preethamr
/docker/ @carlomazzaferro @preethamr
/packages/adapters/ @preethamr @liu-zhipeng @wanglonghong
/packages/agents/ @preethamr @liu-zhipeng @wanglonghong
/packages/agents/sdk/ @just-a-node @prathmeshkhandelwal1
/packages/deployments/ @LayneHaber @liu-zhipeng @preethamr
/packages/examples/ @just-a-node @prathmeshkhandelwal1 @preethamr
/packages/integration/ @LayneHaber @preethamr @just-a-node
/packages/utils/ @preethamr @liu-zhipeng @wanglonghong @just-a-node
